
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script type='text/javascript' src='../public/js/main.js'></script>
  </head>
  <body>

    <navbar>
      <h3 class='greeting'>Hello {{name}}</h3>
      <a class='logout' href='/users/logout'>Log Out</a>
    </navbar>

    <main>

      <div class='filters'>
        <h3>Sort by Type</h3>
        <ul>
          <li>Skiing</li>
          <li>Snowboarding</li>
          <li>Camping</li>
          <li>Hiking</li>
          <li>Biking</li>
          <li>Yoga</li>
          <li>Rock Climbing</li>
          <li>Men's Clothing</li>
          <li>Women's Clothing</li>
        </ul>
      </div>

      <div class='listings'>
        <!-- <div class='text-center videobox' style="position: relative;"display": flex; z-index: -99; width: 90%; height: 90%">

        <video autoplay loop poster="" class="text-center">
                <source src="../video/fire.mov" type="video/mp4">
        </video> -->
        <!-- </div> -->

        <table>
          <tr>
              <th>Image</th>
              <th>Description</th>
          </tr>
          {{#stuff}}
              <tr>
                  <td class='listing-image'><img src='{{this.img_url}}'></td>
                  <td class='description'><b>{{this.description}}</b></td>
              </tr>
          {{/stuff}}
        </table>
      </div>

    <div class="add-stuff">
        <h3>Add Listing</h3>
        <form action="/users/gear" method="post">
            <label>Description</label>
            <br>
            <input type="text" name="description">
            <br><br>
            <label>Image Url</label>
            <br>
            <input type="text" name="img_url">
            <br><br><br>
            <input id="add" type="submit" value="Add">
        </form>
      </div>

    </main>
  </body>
</html>
