
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script type='text/javascript' src='../public/js/main.js'></script>
  </head>
  <body>
    <navbar>
      <h3>Top Nav</h3>
    </navbar>
<h4>Hello {{name}}</h4>
<div class='text-center videobox' style="position: relative;"display": flex; z-index: -99; width: 90%; height: 90%">

<video autoplay loop poster="" class="text-center">
        <source src="../video/fire.mov" type="video/mp4">
    </video>
</div>

    <table>
        <tr>
            <th>img</th>
            <th>description</th>
        </tr>
        {{#stuff}}
            <tr>
                <td><img src='{{this.img_url}}'></td>
                <td>{{this.description}}</td>
            </tr>
        {{/stuff}}
    </table>
    <div class="add-stuff">
        <h3>Add listing</h3>
        <form action="/users/gear" method="post">
            <label>description</label>
            <br>
            <input type="text" name="description">
            <br>
            <label>image Url</label>
            <br>
            <input type="text" name="img_url">
            <br>
            <input type="submit" value="Add">
        </form>
    </div>
  </body>
</html>
