<h1>main</h1>
<h4>Hello {{name}}</h4>
<div class='text-center videobox' style="position: relative;"display": flex; z-index: -99; width: 90%; height: 90%">

        <video autoplay loop poster="" class="text-center">
                <source src="../video/fire.mov" type="video/mp4">
            </video>
        </div>

<table>
    <tr>
        <th>img</th>
        <th>description</th>
    </tr>
    {{#stuff}}
        <tr>
            <td><img src='{{this.img_url}}'></td>
            <td>{{this.description}}</td>
        </tr>
    {{/stuff}}
</table>
