<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script type='text/javascript' src='../public/js/main.js'></script>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p><b>Sign Up, Start Swapping!</b></p>
  </body>
</html>
