body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://i.imgur.com/x61cTgo.jpg);
  background-size: cover;
  back
}

navbar {
  position: absolute;
  background-color: rgba(105, 93, 134, 0.5);
  width: 100%;
  height: 9%;
  left: 0;
  top: 0;
}

navbar > h3 {
  color: white;
  text-align: center;
}

h1 {
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: white;
  text-align: left;
  margin: -4% 0 0 -2%;
  z-index: 2;
}

p {
  font-size: 20px;
  color:white;
  text-align: center;
  margin-top: 1.5%;
}

button {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 24px;
  color: white;
  background-color: rgba(38, 20, 73, 0.8);
  padding: 1.2%;
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: rgba(255, 140, 33, 0.8);
}

main {
  display: flex;
  justify-content: space-around;
}

.filters {
  color: white;
  text-align: left;
  margin-top: 5%;
  margin-left: -4%;
  margin-right: 2%;
}

.filters > ul > li {
  padding: 0;
  margin-left: -10%;
}

.listings {
  flex-grow: 1;
  width: 90%;
  height: 100%;
  margin-top: 0.9%;
  background-color: rgba(146, 155, 171, 0.9)
}

table {
  margin: 2% 5%;
}

td {
  border: 2px solid white;
  border-radius: 6px;
  margin-bottom: 1%;
}

td.description {
  width: 100%;
  padding-left: 2%;
  font-size: 18px;
}

.listing-image {
  height: 150px;
  width: 150px;
}

th {
  font-size: 22px;
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  color: white;
}

.add-stuff {
  margin-top: 5%;
  margin-left: 2%;
  color: white;
}
.add-stuff > h3 {
  margin-left: 20%;
}

h3 {
  text-align: center;
  font-size: 28px;
}

h3.greeting {
  text-align: right;
  margin-right: 2%;
  margin-top: 1%;
  font-size: 18px;
}

.logout {
  text-align: right;
  position: absolute;
  right: 6.5%;
  top: 65%;
  text-decoration: none;
}


label {
  text-align: center;
  margin-left: 35%;
}

input {
  text-align: center;
  margin: auto;
  width: 120%;
}

#add {
  margin-left: 1.5%;
}
